.mainclin {
    max-width: calc(1300px);
    width: calc(90%);
    margin: 0 auto;
    height: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-left: 0; */
}

.recommended {
    display: flex;
    flex-direction: column;
    height: 11rem;
    width: 100%;
}

.reccontent {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    /* white-space: nowrap; */
    /* scroll-behavior: smooth; */
    gap: 9px;
}

.reccontent::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

.reccard {
    flex: 0 0 auto;
    /* border: 2px solid #dee1e5; */
    border: 1.5px solid #d4d6da;
    height: 97%;
    width: 12.9rem;
    border-radius: 10px;
}

.rectitle {
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    line-height: 4rem;
    /* margin-left: 3rem; */
}

.scrollcontain {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
}

.fadeleft, .faderight {
    position: absolute;
    top: 0;
    height: 100%;
    width: .8rem;
}

.fadeleft {
    left: 0;
    background: linear-gradient(to right, #e8ecf1 50%, transparent);
  }
  
.faderight {
    right: 0;
    background: linear-gradient(to left, #e8ecf1 50%, transparent);
}

.firstrec {
    margin-left: .8rem;
}

.browser {
    width: calc(100%);
    height: 20rem;
}

.browsetitle {
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    line-height: 4rem;
    /* margin-left: 3rem; */
}

.searcher {
    margin-left: .8rem;
    width: calc(100% - 1.6rem);
    height: auto;
    padding-bottom: 1.5rem;
    border: 1.5px solid #d4d6da;  
    border-radius: 10px;
    /* background-color: ; */
}

.sorting {
    height: 4.5rem;
    display: flex;
    flex-direction: row;
    width: calc(100% - 3rem);
    margin-left: 1.2rem;
    align-items: center;
    gap: .5rem;
    /* background-color: red; */
}

.datecontainer {
    width: 17rem;
    height: 2rem;
    gap: 2px;
    display: flex;
    flex-direction: row;
    /* background: linear-gradient(#e8ecf1, #e2e4e8); */
    background-color:#e8ecf1 ;
    justify-content: center;
    align-items: center;
    /* background-color: #e2e4e8; */
    border: 1.5px solid #d4d6da;
    border-radius: 6px;
}


/* DATE BUTTONS */

.datebutton {
    cursor: pointer;
    border-radius: 5px;
    color: #575757;
    font-size: 14px;
    height: 85%;
    flex: .162;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s, color .2s, border .2s;
    border: 1px solid transparent
}

.datebutton:hover {
    color: white;
    background-color: #003171;
    border: 1px solid #000f23;
}

.datebutton.clicked {
    color: white;
    background-color: #003171;
    border: 1px solid #000f23;
}

/* DATE BUTTONS */


.directory {
    background-color: #e8ecf1;
    height: 30rem;
    width: calc(100% - 3rem);
    margin-left: 1.2rem;
    border-radius: 10px;
    overflow: hidden;
    border: 1.5px solid #d4d6da;
    display: flex;
    flex-direction: row;
}


/* CARD DIVISIONS */

.card {
    border-bottom: 1.5px solid #d4d6da;
    /* line-height:; */
    height: 5.5rem;
    
}



.first {
    height: 3rem !important;
}

.infowrapper {
    flex: 1;
    overflow-x: auto;
}

.infowrapper::-webkit-scrollbar {
    display: none;
  }

.info {
    min-width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.studycard {
    width: auto;
    display: flex;
    flex-direction: row;
    position: relative;

}

.studycard.first {
    background-color: #d8dce0;
}

.studycard > div {
    height: 100%;
    width: 6rem;
    line-height: 5.5rem;
    text-align: center;
    /* background-color: red; */
    font-weight: 450;
    color: #383838;
    font-size: 13px;
}

.writer {
    padding-left: 2rem;
}

.condition, .treatment {
    width: 8rem !important;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: relative;
}

.conditiontext, .treatmenttext {
    /* height: 100%; */
    white-space: nowrap;
    overflow: hidden;
    max-width: 80%;
    text-overflow: ellipsis;
}

.first > div {
    line-height: 3rem !important;
    /* font-weight: 500; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #808080;
    font-size: 13px;
}

/* CONSTANT CARD */

.constants {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.constantcard {
    width: 100%;
    /* background-color: blue; */
    border-right: 1.5px solid #c9cacd;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.constantcard.first {
    border-right: none;
    background-color: #d8dce0;
}

.constantmargin {
    height: calc(100% - 1.5rem);
    width: calc(100% - 2.5rem);
    display: flex;
    gap: 15px;
}

.approval {
    background-color: #003171;
    height: 100%;
    aspect-ratio: 1/1;
    border-radius: 100%;
}

.headertext {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 95%;
}

.constanttitle {
    font-size: 16px;
    font-weight: 500;
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
}

.constantdesc {
    margin: 0;
    padding: 0;
    font-size: 11px;
    color: #616161;
    margin-top: 3px;
    margin-left: 1px;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
    text-overflow: ellipsis;
}

.constanttype {
    margin-left: 1px;
    margin-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: calc(auto + 100px ); */
    align-self: flex-start;
    gap: 4px;
    background-color: #dfe3e7;
    padding-left: .3rem;
    padding-right: .3rem;
    border-radius: 10px;
}

.constanttype > p {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

.constanttype > div {
    /* background-color: #74b326; */
    background-color: #eca201;
    /* background-color: #004094; */
    border-radius: 100%;
    height: .4rem;
    aspect-ratio: 1/1;
    margin-top: 1px;
}

/* CONSTANT CARD */