.mainclin {
    max-width: calc(1300px);
    width: calc(95%);
    margin: 0 auto;
    height: 100%;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    position: relative;
    /* margin-left: 0; */
}

.recommended {
    display: flex;
    flex-direction: column;
    height: 11rem;
    width: 100%;
}

.reccontent {
    height: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    /* white-space: nowrap; */
    /* scroll-behavior: smooth; */
    gap: 9px;
}

.reccontent::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }

.reccard {
    flex: 0 0 auto;
    /* border: 2px solid #dee1e5; */
    border: 1px solid #b9bcc0;
    height: 99%;
    width: 12.9rem;
    border-radius: 10px;
}

.rectitle {
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    line-height: 4rem;
    /* margin-left: 3rem; */
}

.scrollcontain {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
}

.fadeleft, .faderight {
    position: absolute;
    top: 0;
    height: 100%;
    width: .8rem;
}

.fadeleft {
    left: 0;
    background: linear-gradient(to right, #e8ecf1 50%, transparent);
  }
  
.faderight {
    right: 0;
    background: linear-gradient(to left, #e8ecf1 50%, transparent);
}

.firstrec {
    margin-left: .8rem;
}

.browser {
    width: calc(100%);
    height: 20rem;
}

.browsetitle {
    font-size: 16px;
    font-weight: 500;
    height: 4rem;
    line-height: 4rem;
    /* margin-left: 3rem; */
}

.searcher {
    margin-left: .8rem;
    width: calc(100% - 1.6rem);
    height: 30rem;
    border: 1px solid #b9bcc0;  
    border-radius: 10px;
}

.sorting {
    height: 4rem;
    display: flex;
    flex-direction: row;
    width: calc(100% - 3rem);
    margin-left: 1.5rem;
    align-items: center;
    gap: .5rem;
    /* background-color: red; */
}

.datecontainer {
    width: 15rem;
    height: 2rem;
    gap: 2px;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
    background-color: #e2e4e8;
    border: 1px solid #b9bcc0;
    border-radius: 6px;
}


/* DATE BUTTONS */

.datebutton {
    cursor: pointer;
    border-radius: 5px;
    color: #575757;
    font-size: 14px;
    background-color: #e2e4e8;
    height: 80%;
    flex: .161;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .2s, color .2s;
}

.datebutton:hover {
    color: white;
    background-color: #003171;
}

.datebutton.clicked {
    color: white;
    background-color: #003171;
}