


.mainNav1 {
    background-color: #dadde1;
    height: 100%;
    width: 15rem;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-right: .5px solid #b9bcc0;
}

.navspacer {
    width: 15rem;
    position: relative;
    height: 100%;
    z-index: 10;
}

.logospace {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
}

.sections {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 4px;
    align-items: center;
}

.pageselector {
    height: 2.4rem;
    width: 90%;
    /* justify-content: center; */
    line-height: 2.4rem;
    border-radius: 7px;
    display: flex;
    flex-direction: row;
    gap: 1px;
    transition: background-color .1s ease-out;
    cursor: pointer;
}

.selectortext {
    font-size: 14px;
    font-weight: 500;
    color: #00132a;
    transition: color .1s ease-out;
}

/* .pageselector.active, .pageselector.hovering {
    background-color: white;
} */

.pageselector.active, .pageselector.hovering {
    background-color: #003171;
}

.selectortext.hovering, .selectortext.active {
    color: white;
}


.selectorimg {
    width: 2rem;
}

/* .navsec {
    padding-bottom: 1rem;
    border-bottom: .5px solid #b9bcc0;
} */