.mainstudies {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    height: 100%;
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    position: relative;
    /* margin-left: 0; */
    gap: 2rem;
}

.rightstudies {
    width: calc(100% - 22rem);
    /* margin: 0 auto; */
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    /* margin-left: 0; */
    /* gap: 3rem; */
}

.rightstudies > .search {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 2rem;
}

.search > h1 {
    height: 6rem;
    line-height: 6rem;
}

.searchbar, .tagbar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 3rem;
    width: 100%;
}

.tagbar > .tagelem, .searchbar > .searchelem {
    outline: 0;
    height: 100%;
    border-radius: 15px;
    border: 1px solid rgb(180, 180, 180);
    background-color: #e8ecf1;
    font-size: 16px;
    color: rgb(43, 43, 43);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    font-weight: 400;
    width: 100%;
}

.tagbar > .tagelem {
    padding-left: 1rem;
}

.searchbar > .searchelem {
    padding-left: 2.85rem;
}

.searchbar > img {
    width: 1.75rem;
    height: 1.75rem;
    position: absolute;
    left: .75rem;
    margin-top: .2rem;
    cursor: pointer;
     filter: grayscale(100%);
}

.searchbar > img:hover {
    filter: grayscale(0%) hue-rotate(200deg) saturate(200%);
}

.filters {
    width: calc(100% - 35rem);
    height: 3rem;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
}


.content {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.content > .cards {
    position: relative;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.content > .cards > .card {
    border: 1.5px solid #d4d6da;
    width: 100%;
    /* height: 9rem; */
    border-radius: 10px;
    position: relative;
    height: auto;
    cursor: pointer;
}

.content > .cards > .card:hover {
    border: 1.5px solid #b5c7de;
    background-color: #e4ecf5;
    
}

.spacer {
    display: flex;
    flex-direction: column;
    height: auto;
    width: calc(100% - 1.25rem);
    margin-left: 1.25rem;
    margin-top: 1rem;
}

.top1 {
    width: 100%;
    /* height: 2rem; */
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    gap: 8px;
}

.top1 > .title1 {

    width: calc(100% - 1rem);
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    display: inline;
    /* flex: .5; */
}

.content > .cards, .searchbar {
    max-width: 55rem;
    width: calc(100% - 4rem); 
    /* min-width: 30rem; */
    /* min-width: 35rem; */
}

@container pagecontent (max-width: 949px) {
    .content > .cards, .searchbar {
        /* max-width: 30rem; */
        width: 90% ; 
        min-width: 0;
    }

    .rightstudies {
        width: 100%;
    }
}

.tags {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    max-width: 35rem;
    margin-top: .5rem;
    
}

.tags, .details {
    flex-wrap: wrap;
    width: calc(100% - 1rem);
}

.type1 {
    /* height: 9px; */
    width: auto;
    /* padding-left: .5rem; */
    /* padding-right: .5rem; */

    /* border: 1px solid #9ad058;
    background-color: #edffd5; */

    border: 1px solid #a1bfdd;
    /* background-color: #e2e8ef; */
    background-color: transparent;
    height: 1.25rem;
    border-radius: 15px;
    
    /* display: inline-block; */

}

/* .top > .type {
    width: 1rem;
    height: 1rem;
} */

.type1 > .dot {
    padding-left: .4rem;
    padding-right: .5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: auto;

}

.type1.c {
    border: 1px solid #86a5b4 !important;
    background-color: #e2e8ef !important;
}

.dotimg.c {
    background-color: #0077b6 !important;
}

.type1.t {
    background-color: #e2e8ef !important;
    border: 1px solid #80b5c0 !important;
}

.dotimg.t {
    background-color: #00b4d8 !important;
}

.type1.g {
    border: 1px solid #9ca5ad !important;
    background-color: #dfe3e9 !important;
}

.dotimg.g {
    background-color: #686e74 !important;
}

.type1 > .dot > .text {
    font-size: 11px;
    /* font-weight: 500; */
    height: 100%;
    line-height: 1.25rem;
}

.type1 > .dot > .dotimg {
    height: .4rem;
    width: .4rem;
    border-radius: 100%;
    background-color: #2160DD;
}

.taginputtext {
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 11px;
    /* line-height: 1.25rem; */
    width: 5rem;
    height: 1.1rem;
    margin-top: .05rem;
    cursor: pointer;
}


/* @container pagecontent (max-width: 1400px) {
    .content > .cards, .searchbar {
        width: 90%; 
    }
} */

.details {
    /* margin-top: .5rem; */
    /* height: 2rem; */
    height: auto;
    padding-top: .5rem;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    max-width: 20rem;
}

.details > div {
    height: 1.25rem;
    display: flex;
    flex-direction: row;
    width: auto;
    /* justify-content: center; */
    align-items: center;
    gap: 3px;
}

.details > div > img {
    height: .9rem;
    width: .9rem;
}

.details > div > p {
    font-size: 11px;
    /* font-weight: 500; */
    /* color: #565656; */
     color: #383838;
    margin-top: .85rem;
}

.duration > img {
    margin-top: .15rem;
    height: 1.05rem !important;
    width: 1.05rem !important;
}

.sample_size > img {
    margin-top: .1rem;
    width: .95rem !important;
    height: .95rem !important;
}

.date > img {
    margin-top: .15rem;
    height: 1.15rem !important;
    width: 1.15rem !important;
}

.views > img {
    margin-top: .15rem;
    height: 1.15rem !important;
    width: 1.15rem !important;
}

.desc {
    /* flex: 1; */
    margin-top: .2rem;
    width: calc(100% - 1.25rem);
    /* background-color: yellow; */
    border-top: 1px solid rgb(194, 194, 194);
    /* margin-left: -.625rem; */
    display: flex;
    align-items: center;
    flex-direction: row;
    height: auto;
    gap: 5px;
}

.lastedited {
    /* background-color: black; */
    height: 2rem;
    width: auto;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
    margin-left: .1rem;
}

.editedtext {
    text-align: center;
}

.editeddot {
    width: .4rem;
    border-radius: 100%;
    height: .4rem;
    background-color: #0047a4;
}

.expandable {
    /* height: 2rem; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    height: 1.5rem;
    padding-left: .25rem;
    padding-right: .25rem;
    /* background-color: none; */
    border-radius: 5px;
}

/* .expandable:hover {
    background-color: #d6d6d6 !important;
} */

.expandable > .desctext {
    font-size: 10px;
}

.expandable > img {
    width: .8rem; 
    height: .8rem;
}

.expanddesc {
    width: calc(100% - 1.25rem);
    opacity: 0;
    margin-top: 0;
    max-height: 0rem;
    /* margin-left: .1rem; */
    padding-bottom: .45rem;
    font-size: 11px;
    cursor: default;
    color: #383838;
}

.expanddesc.open1 {
    transition: opacity .3s ease .1s, max-height .4s ease, padding-bottom .4s;
    opacity: 1;
    max-height: 10rem;
    padding-bottom: 1rem;
}

.expanddesc.closed1 {
    transition: opacity .1s ease , max-height .4s ease, padding-bottom .4s;
}



/* ---------------------------------------------------------------------------- */


.big {
    width: 20rem;
    height: auto;
    /* background-color: red; */
    display: flex;
}

.big.inline {
    flex-direction: row;
    width: 90%;
}

.big.out {
    flex-direction: column;
}

.tagssection {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.big.inline > .tagssection {
    width: 20rem;
}

.fulltags {
    outline: 0;
    height: auto;
    max-height: 5rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    border-radius: 15px;
    border: 1px solid rgb(180, 180, 180);
    background-color: #e8ecf1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tagspace {
    width: calc(100% - 1.5rem);
    height: auto;
    display: flex;
    gap: .3rem;
    
    flex-wrap: wrap;
}

.tagsholder {
    width: auto;
    position: relative;
    flex-direction: column;
    /* cursor: pointer; */
}

.tagsdropdown {
    position: absolute;
    width: 100%;
    padding-bottom: .5rem;
/*     
    background-color: #dfe3e9; */
    background-color: #e8ecf1;
    border: 1px solid rgb(180, 180, 180);
    margin-top: .3rem;
    border-radius: 10px;
    transition: max-height .1s;
    overflow: scroll;
    z-index: 100;
}

.tagsdropdown::-webkit-scrollbar {
    display: none;
}

.tagsdropdown.opend {
    max-height: 4rem;
    height: auto;
    
    
}

.tagsdropdown.closedd {
    transition: border 0s ease .08s, background-color 0s ease .08s, max-height .1s;
    max-height: 0;
    border: 0px solid black;
    /* transition: max-height .1s; */
    /* background-color: transparent; */
    background-color: rgba(180, 180, 180, 0);
}

/* .tagsscroll {
    height: auto;
    width: auto;
    padding-left: .4rem;
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
} */

/* .searchresult {
    white-space: nowrap;
    font-size: 11px;
    display: inline-block;
} */
/* 
.resultdot {
    height: .4rem;
    background-color: blue;
    width: .4rem;
    border-radius: 50%;
} */

.tagscrollwrapper {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: .4rem;
}

.tagsscroll {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 90%;
  min-width: 0;
  overflow: hidden;
  padding-left: .5rem;
  cursor: pointer;
}

.resultdot {
  flex-shrink: 0; /* Make sure it doesn't shrink */
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  background-color: blue;
}

.searchresult {
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  min-width: 0; /* allows shrinking inside flex */
}

.resultdot.c {
    background-color: #0077b6 !important;
}

.resultdot.t {
    background-color: #00b4d8 !important;
}

.sliders {
    background-color: green;
    width: 100%;
    height: 2rem;
}